@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glitch {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    /* animation: glitch 2000ms infinite; */
  }

  .tekstboks_bgpurple {
    box-shadow: 0 0 0 4.25em #000131, 0 0 0 4.35em #f900fe, 0 0 0 4.6em #000131,
      0 0 0 4.7em #06eef2, 0 0 0 4.95em #000131, 0 0 0 5.05em #04ea11;
  }

  html {
    scroll-snap-type: y proximity;
  }

  .halvfems {
    transform: rotate(90deg);
    transform-origin: top left;
  }

  .roter_01 {
    transform: rotate(-15deg);
  }

  .roter_02 {
    transform: rotate(15deg);
    translate: 0 6.5em;
  }

  .roter_01_stor_mere {
    transform: rotate(-15deg);
    translate: 0 8.5em;
  }

  .roter_02_stor_mere {
    transform: rotate(15deg);
    translate: 0 4.5em;
  }

  .roter_01_lille {
    transform: rotate(-15deg);
    translate: 0 4.5em;
  }

  .roter_02_lille {
    transform: rotate(15deg);
    translate: 0 8.5em;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
